/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this
@import './styles/bootstrap';

// body {
//     background-image: url('./images/header-bg.png');
// }


.font-spacing {
  letter-spacing: .3em;
}
.bg-full {
  background-size: cover;
  background-position: center center;
}
.bg-mountain {
  background-image: url('./images/section2-bg.png');
}
.bg-computer {
  background-image: url('./images/section1-bg.png');
}
.bg-waves {
  background-image: url('./images/section3-bg.png');
}
.bg-bubbles {
  background-image: url('./images/bubbles.png');
  background-position: top center;
}
.bg-pattern {
  background-image: url('./images/header-pattern.png');
  background-repeat: repeat;
  background-attachment: fixed;
}
.view {
  min-height: 90vh;
}

hr {
  border: 1px solid #444448;
}

// Wallet Page Title
.wallet-title {
  img {
    height: 40px;
    vertical-align: top;
  }
  h3 {
    display: inline-block;
  }
}
// WALLETS: BITCOIN TAB CONTENT
.btc-tabs-content {
  input {
    box-shadow: none;
    font-weight: bold;
  }
  .btc-deposit,
  .btc-withdrawal {
    small {
      display: block;
      line-height: 25px;
    }
  }
  .btc-deposit__disclaimer {
    color: #c39b6e;
    &:before {
      content:"• ";
    }
  }
  .btc-deposit__address-btns {
    text-align: right;
  }
  .btc-notes {
    ul {
      padding-left: 20px;
    }
  }
  .btn-qr,
  .btn-copy {
    color: #000;
    height: 37.5px;
    img {
      height: 100%;
      vertical-align: bottom;
      width: auto;
    }
  }
  .btc-withdrawal {
    button {
      color: white;
      font-weight: 300;
    }
    .transaction-fee,
    .total {
      p {
        display: inline-block;
        width: 120px;
      }
      span {
        float: right;
        font-weight: bold;
      }
    }
    .transaction-fee {
      span {
        color: red;
      }
    }
    .total {
      p {
        text-align: right;
      }
    }
  }

  .btc__transactions {
    min-height: 300px;
    .card-header {
      border-left: 0;
    }
    table {
      text-align: center
    }
  }
}
