/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this
@import './styles/bootstrap';

// body {
//     background-image: url('./images/header-bg.png');
// }


.font-spacing {
  letter-spacing: .3em;
}
.bg-full {
  background-size: cover;
  background-position: center center;
}
.bg-mountain {
  background-image: url('./images/section2-bg.png');
}
.bg-computer {
  background-image: url('./images/section1-bg.png');
}
.bg-waves {
  background-image: url('./images/section3-bg.png');
}
.bg-bubbles {
  background-image: url('./images/bubbles.png');
  background-position: top center;
}
.bg-pattern {
  background-image: url('./images/header-pattern.png');
  background-repeat: repeat;
  background-attachment: fixed;
}
